<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-info">
            <i class="fa fa-arrow-circle-o-left"></i> Voltar</a>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="card mt-2">
    <div class="card-header">Editar Configurações</div>
    <div class="card-body">
        <form (submit)="onSubmit()">
            <div class="form-group">
                <label for="allowRegistration">Permitir Registro</label>&nbsp;
                <input type="checkbox"
                       name="allowRegistration" id="allowRegistration"
                       [checked]="settings.allowRegistration"
                       (change)="updateSetting('allowRegistration')"/>
            </div>

            <div class="form-group">
                <label for="disableBalanceOnAdd">Desabilitar Saldo quando Salvar</label>&nbsp;
                <input type="checkbox"
                       name="disableBalanceOnAdd" id="disableBalanceOnAdd"
                       [checked]="settings.disableBalanceOnAdd"
                       (change)="updateSetting('disableBalanceOnAdd')"/>
            </div>

            <div class="form-group">
                <label for="disableBalanceOnEdit">Desabilitar Saldo quando Atualizar</label> &nbsp;
                <input type="checkbox"
                       name="disableBalanceOnEdit" id="disableBalanceOnEdit"
                       [checked]="settings.disableBalanceOnEdit"
                       (change)="updateSetting('disableBalanceOnEdit')"/>
            </div>

            <input type="submit" value="Salvar" class="btn btn-primary btn-block">
        </form>
    </div>
</div>
